.markdown {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

blockquote {
  color: #666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.2em rgb(179, 179, 179) solid;
}

tr {
  border-top: 1px solid #c6cbd1;
}

th,
td {
  padding: 6px 13px;
  min-width: 140px;
  border: 1px solid #dfe2e5;
}

.markdown img { 
  width: 80%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.markdown code {
  font-size: 14px;
  overflow: scroll;
}

@media only screen and (max-width: 800px) {
  .markdown img {
    width: 100%
  }
}