{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:import/recommended", "plugin:import/typescript"],
  "ignorePatterns": ["node_modules", "build"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "import", "sort-imports-es6-autofix"],
  "rules": {
    "sort-imports-es6-autofix/sort-imports-es6": "warn"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "project": "tsconfig.json"
      }
    }
  }
}
