.markdown {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

blockquote {
  color: rgb(126, 125, 125);
  margin: 0;
  padding-left: 1.5em;
  border-left: 0.2em rgb(179, 179, 179) solid;
}

tr {
  border-top: 1px solid #c6cbd1;
}

th,
td {
  padding: 6px 13px;
  min-width: 140px;
  border: 1px solid #dfe2e5;
}

.markdown img { 
  width: 90%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.markdown code {
  font-size: 14px;
  border-radius: 5px;
  overflow: scroll;
  /* still doesn't work on webkit */
  -webkit-overflow: auto;
  -webkit-overflow-scrolling: touch;
}

@media only screen and (max-width: 800px) {
  .markdown img {
    width: 100%
  }
}

@media only screen and (max-width: 1100px) {
  .js-toc {
    display: none;
  }
}

/* added style for js-toc */
.js-toc {
  position: fixed;
  top: 20%;
  left: 80%;
  font-size: 15px;
  margin-right: 5%;
}
.js-toc ol {
  list-style-type: none;
}
.js-toc a {
  text-decoration: none;
  line-height: 1.5em;
}

/* copied css for tocbot */
.toc{
  overflow-y:auto
}
.toc>.toc-list{
  overflow:hidden;
  position:relative
}
.toc>.toc-list li{
  list-style:none
}
.toc-list{
  margin:0;
  padding-left:10px
}
a.toc-link{
  color:currentColor;
  height:100%;
}
.is-collapsible{
  max-height:800px;
  overflow:hidden;
  transition:all 300ms ease-in-out
}
.is-collapsed{
  max-height:0
}
.is-position-fixed{
  position:fixed !important;
  top:0
}
.is-active-link{
  font-weight: 700;
}
.toc-list::before{
  background-color:rgb(238, 238, 238);
  content:' ';
  display:inline-block;
  height: 100%;
  left:0;
  margin-top:-1px;
  position:absolute;
  width:2px
}
.is-active-link::before{
  background-color: #00b0ff;
  content:' ';
  display:inline-block;
  height: 1.5em;
  left:0;
  margin-top:-1px;
  position:absolute;
  width:2px
}
